@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 235, 216);
    background-image: url(Design\ com\ cor.png);
}


.section-1 {
    position: absolute;
    width: 800px;
    height: 540px;
    background-color: #474973;
    border: 0;
    border-radius: 30px;
    top: calc(50vh - 270px);
    left: calc(50vw - 400px);
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    text-align: center;
}

h2,
figure {
    margin-top: 20px;
    font-family: Poppins, sans-serif;
    font-size: 1.8rem;
}

input.input-salvar {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    text-align: center;

}

.input-1 {
    width: 500px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: #a69cac;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 1.4rem;
}

a:hover {
    color: #a69cac;
}

.input-2 {
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: 0;
    background-color: #a69cac;
    color: white;
}

.section-2 {
    position: absolute;
    width: 1100px;
    height: 200px;

    left: calc(50vw - 550px);
}

#adicionarRecado {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(40px);
    border-radius: 20px 20px 20px 20px;
    height: 30%;
    width: 70%;
    text-align: center;
    padding-top: 6%;
    left: 280px;
    bottom: 65%;
}

#titulo {
    position: absolute;
    left: 70px;
    top: 40px;
    font-size: 30px;
}

h1::after {
    content: '';
    display: block;
    background-color: rgb(240, 211, 174);
    width: 5rem;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px;
}

#descricao {
    position: absolute;
    left: 70px;
    width: 500px;
    height: 30px;
}

#detalhamento {
    position: absolute;
    left: 38rem;
    width: 500px;
    height: 30px;
}

#botaoCriar {
    position: absolute;
    right: 7rem;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 0;
}

#botaoCriar:hover {
    background: rgba(249, 90, 119, 0.405);
    border: 0;
    border-radius: 10px;

}

#titulosRecados {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.504);
    backdrop-filter: blur(40px);
    border-radius: 20px 20px 20px 20px;
    height: 55%;
    width: 70%;
    text-align: center;
    padding-top: 2%;
    left: 280px;
    bottom: 5%;
}

th,
td {
    text-align: center;
    border-bottom: 1px solid #DDD;
    width: 334px;
}

#deslogar {
    position: absolute;
    left: 94rem;
    top: 66px;
    border-radius: 1px;
    border-color: rgba(249, 90, 119, 0);
}

#deslogar::after {
    content: '';
    display: block;
    background-color: rgb(240, 211, 174);
    width: 5.6rem;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px;
}


#deslogar:hover {
    background: rgba(249, 90, 119, 0.344);
    border-radius: 20px;
}

#editar {
    color: #000000 !important;
    background-color: rgb(249, 200, 153) !important;
    border: 0 !important;
    border-radius: 5px !important;
    padding: 4px !important;
    width: 80px !important;
}



#botaoExcluir {
    color: #000000 !important;
    background-color: rgb(249, 200, 153) !important;
    border: 0 !important;
    border-radius: 5px !important;
    padding: 4px !important;
    width: 80px !important;
}